.warna1 {
    background-color: #633971;
}

.warna2 {
    background-color: #8F38A4;
}

.warna3 {
    background-color: #C39BD3;
}

.warna4 {
    background-color: #D7BDE2;
}

.warna5 {
    background-color: #633971;
}

h2 {
    font-weight: 600;
    color: white;
}

form {
    padding: 25px;
    background: #633971;
    border-radius: 20px;
}

input,
textarea {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.link {
    color: white;
}

.banner {
    height: 60vh;
    background: url('../image/herobg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 60%;
}

.send {
    width: 100%;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.send:hover {
    transform: scale(0.9);
}

section {
    padding: 2rem 25%;
}