.warna1 {
    background-color: #633971;
}

.warna2 {
    background-color: #8F38A4;
}

.warna3 {
    background-color: #C39BD3;
}

.warna4 {
    background-color: #D7BDE2;
}

.warna5 {
    background-color: #633971;
}

.banner {
    height: 60vh;
    background: url('../image/herobg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 60%;
}

.highlighted-keahlian {
    height: 400px;
}


.keahlian-satu{
    background: url('../image/keahlian1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.keahlian-dua{
    background: url('../image/keahlian2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.keahlian-tiga{
    background: url('../image/keahlian3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.no-decoration {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.no-decoration:hover {
    color: #C39BD3;
}

.paragraf {
    font-size: 16px;
}

.h3 {
    color: #633971;
}

.image-box {
    height: 240px;
}

.image-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.link {
    color: white;
}

.card-body2 {
    background-color: #633971;
    color: white;
    border-radius: 4px;
}

section {
    padding: 2rem 20%;
}

.about .row {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 10px;
}

.about .row .images {
    flex: 25rem;
}

.about .row .images img {
    width: 100%;
    border-radius: 5px;
}

.about .row .content {
    flex: 25rem;
    padding: 2rem;
}

.about .row .content p {
    color: #633971;
    padding: 1rem 0;
    line-height: 1.8;
}